* {
	box-sizing: border-box;
	font-family: Calibri;
	margin: 0;
}

body {
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

/*------------------------------------------- NAVIGATION BAR --------------------------------------------*/
.navigation_bar {
	overflow: hidden;
	background: linear-gradient(to right, #99ff66, #3399ff, #ff7733);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

.navigation_bar .selection {
	display: flex;
	float: left;
	text-decoration: none;
	text-align: center;
	padding: 16px;
	font-size: 20px;
	font-weight: bold;
}

.navigation_bar .selection:hover {
	background-color: grey;
	border: 1px solid black;
	padding: 15px;
	color: white;
	animation: glow .8s infinite alternate;
}

.selection:link, .selection:visited {
	color: black;
}


/*------------------------------------------- GRID CONTAINER (GENERAL) --------------------------------------------*/

.grid_container {
	display: grid;
	grid-template-columns: minmax(0,1fr);
	grid-gap: 15px;
	max-width: 100%;
	margin: auto;
	color: white;
	padding: 14px;
}

h1, h3  {
	color: white;
	text-align: center;
}

h1 {
	text-align: center;
	text-decoration: underline;
	font-style: italic;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 40px;
	animation: glow .9s infinite alternate;
	
}

h3 {
	text-align: center;
	font-size: 20px;
	margin: 20px 10px 0 10px;
}


/*------------------------------------------- 2. SEARCH RESULTS --------------------------------------------*/

/*General*/
#contact_box{
	background: rgba(255, 77, 77, 0.2);
	padding: 8px;
	display: grid;
	grid-template-columns: 15% minmax(0, 1fr);
	grid-gap: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

#contact_box a {
	color: yellow;
	text-decoration: none;
	animation: contact_links_glow .8s infinite alternate;
}

#contact_box a:link, #contact_box a:visited {
	color: yellow;
}

.individual_name{
	grid-column-start: 1;
	grid-column-end: 3;
}

.individual_name > h4, .individual_name2 > h4 {
	font-size: 25px;
	letter-spacing: 1.2px;
	display: inline-block;
	margin-left: 8px;
	text-decoration: underline;
	animation: glow .9s infinite alternate;
}

.individual_image {
	margin-top: 7px;
}

.individual_image {
	grid-row-start: 2;
	grid-row-end: 3;
}

.individual_description, .individual_description2 {
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 25px;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 1.25;
	text-indent: 20px;
	text-align: justify;
	text-justify: inter-word;
}

.individual_info {
	margin-top: 10px;
	margin-bottom: 10px;
}

.individual_name2{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

.individual_image2 {
	grid-row-start: 5;
	grid-row-end: 6;
}

.individual_description2  {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 6;
}

/*------------------------------------------- 3. FOOTER --------------------------------------------*/
#footer_info {
	text-align: center;
	margin-top: 100px;
}

/*------------------------------------------- KEYFRAMES --------------------------------------------*/

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes bulletin {
	to {
		text-shadow: 5px 3px 12px white;
	}
}

@keyframes glow {
	to {
		text-shadow: 2px 2px 8px blue;
	}
}

@keyframes contact_links_glow {
	to {
		text-shadow: 2px 2px 8px red;
	}
}